@import url(header.css);
@import url(sidebar.css);
@import url(nav.css);

* { padding: 0; margin: 0; box-sizing: border-box; }
button { padding: 0; margin: 0; border: none; background: none; font: inherit; color: inherit; cursor: pointer;  }
img { display: block; }
li { list-style: none; }

@font-face {
    font-family: 'FreeMonospaced';
    src: url('../fonts/FreeMonospaced.otf') format('opentype'),
        url('../fonts/FreeMonospaced.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreeMonospaced';
    src: url('../fonts/FreeMonospacedBold.otf') format('opentype'),
        url('../fonts/FreeMonospacedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    background: #262424;
    color: #fff;
    font-family: 'FreeMonospaced', monospace, sans-serif;
    height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 2rem;
}